#layout-container .trigger {
	font-size: 18px;
	line-height: 64px;
	padding: 0 24px;
	cursor: pointer;
	transition: color .3s;
}
  
#layout-container .trigger:hover {
	color: #1DA57A;
}
  
#layout-container .logo {
	height: 32px;
	background: rgba(255,255,255,.2);
	margin: 16px;
	color: white;
	text-align: center;
	font-size: 1.3rem;
}

#layout-container .logo-small {
	height: 32px;
	background: rgba(255,255,255,.2);
	margin: 16px;
	color: white;
}

#layout-container .left-extend {  animation: left-extend-animation .12s linear forwards; }
#layout-container .right-shrink { animation: right-shrink-animation .12s linear forwards; }

@keyframes left-extend-animation {
    0% {
        margin-left: 200px;
    }
    100% {
        margin-left: 80px;
    }
}
@keyframes right-shrink-animation {
    0% {
        margin-left: 80px;
    }
    100% {
        margin-left: 200px;
    }
}

#layout-container .layout {
	padding-top: 60px;
}

#layout-container .header {
	background-color: #fff; 
	padding: 0;
	position: fixed;
	width: 100%;
	z-index: 2;
	top: 0;
	box-shadow: 0 1px 4px rgba(0,21,41,.08);
}

#layout-container .content {
	margin: 0 16px 24px 16px;
	padding: 0 24px;
	min-height: 280px;
}